---
layout: default
---
{% include search/searchbar.html %}
{% include search/search-results.html %}

<script>
  window.store = {
    {% for lemma in site.lexicon %}
      "{{ lemma.url | slugify }}": {
        "title": "{{ lemma.name | xml_escape }}",
        "author": "{% for definition in site.definitions %}{% if definition.lemma == lemma.name %}{{ definition.source | split: "_" | first | append: " " }}{% endif %}{% endfor %}",
        "year": "{% for definition in site.definitions %}{% if definition.lemma == lemma.name %}{{ definition.source | split: "_" | last | append: " " }}{% endif %}{% endfor %}",
        "category": "{{ lemma.category | xml_escape }}",
        "content": "{% for definition in site.definitions %}{% if definition.lemma == lemma.name %}{{ definition.content | strip_html | strip_newlines | remove_chars | escape | append: " " }}{% endif %}{% endfor %}",
        "url": "{{ site.baseurl }}{{ lemma.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
