collections:
  contributors:
    output: true
  lexicon:
    output: true
  definitions:
    output: true
  pages:
    output: true
    permalink: /:name

defaults:
  - scope:
      path: ""
      type: "contributors"
    values:
      layout: "contributor"
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: ""
      type: "lexicon"
    values:
      layout: "lemma"
  - scope:
      path: ""
      type: "definitions"
    values:
      layout: "definition"

scholar:
  bibliography: lexiconse.bib
  bibliography_template: bib
  relative: "../bibliography.html"
  sort_by: author, editor, year
  style: apa
  bibliography_list_tag:
  bibliography_item_tag: p

baseurl: /lexicon-scholarly-editing

name: LexiconSE

plugins:
  - jekyll-last-modified-at

pagination:
  enabled: true
  collection: 'lexicon'
  per_page: 10

  # The permalink structure for the paginated pages (this can be any level deep)
  #permalink: '/page/:num/' # Pages are index.html inside this folder (default)
  permalink: '/page/:num.html' # Pages are simple html files
  #permalink: '/page/:num' # Pages are html files, linked jekyll extensionless permalink style.

  title: ':title - page :num'   # Optional the title format for the paginated pages (supports :title for original page title, :num for pagination page number, :max for total number of pages)
  limit: 0   # Limit how many pagenated pages to create (default: 0, means all)
  sort_field: name
  sort_reverse: false   # Optional, sorts the posts in reverse order (omit to default decending or sort_reverse: true)
  category: 'posts'   # Optional, the default category to use, omit or just leave this as 'posts' to get a backwards-compatible behavior (all posts)
  tag: ''   # Optional, the default tag to use, omit to disable

  # Optional, the default locale to use, omit to disable (depends on a field 'locale' to be specified in the posts,
  # in reality this can be any value, suggested are the Microsoft locale-codes (e.g. en_US, en_GB) or simply the ISO-639 language code )
  locale: ''

 # Optional,omit or set both before and after to zero to disable.
 # Controls how the pagination trail for the paginated pages look like.
  trail:
    before: 2
    after: 2

  # Optional, the default file extension for generated pages (e.g html, json, xml).
  # Internally this is set to html by default
  extension: html

  # Optional, the default name of the index file for generated pages (e.g. 'index.html')
  # Without file extension
  indexpage: 'lexicon'
