---
title: Lexicon
pagination:
  enabled: true
  collection: lexicon
---

{% include paginatornav.html %}

<div class="list-group">
      {% for lemma in paginator.posts %}
      <a href="{{ lemma.url }}" class="list-group-item list-group-item-action">

        {% if lemma.name_diacritics %}
        {% assign def_per_lemma = site.definitions | where: 'lemma', lemma.name_diacritics %}
        {{ lemma.name_diacritics }}
        {% else %}
        {% assign def_per_lemma = site.definitions | where: 'lemma', lemma.name %}
        {{ lemma.name }}
        {% endif %}
        ({{ def_per_lemma | size }})

      </a>
      {% endfor %}
</div>
