<div class="col-6">
  <h1>{{ page.name }}</h1>
  <p>
    <strong>Role:</strong> {{ page.position }}
  </p>
  {{ content }}
  <p>
    <strong>Achievements: </strong>
    {% assign contributions = site.definitions | where: 'contributor', page.username %}
    {% assign emmendations = site.definitions | where: 'last_updated_by', page.username %}

    {{ page.name }} has added a total of <a data-toggle="collapse" href="#contributions" aria-expanded="false" aria-controls="contributions">{{ contributions | size }} definitions</a> to the Lexicon, and edited at least <a data-toggle="collapse" href="#emmendations" aria-expanded="false" aria-controls="emmendations">{{ emmendations | size }} definitions</a>.
    {{ page.name | split: " " | first }} started contributing to the Lexicon in {{ page.joined | date: "%B %Y" }}. 
    <div class="collapse" id="contributions">
      <div class="card card-body">
        <ul>
          {% for contribution in contributions %}
          <li><a href="{{ site.baseurl }}{{ contribution.url }}">{{ contribution.lemma }}</a> ({{ contribution.source | capitalize | split: "_" | first }}, {{ contribution.source | capitalize | split: "_" | last }})</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="collapse" id="emmendations">
      <div class="card card-body">
        <ul>
          {% for emmendation in emmendations %}
          <li><a href="{{ site.baseurl }}{{ emmendation.url }}">{{ emmendation.lemma }}</a> ({{ contribution.source | capitalize | split: "_" | first }}, {{ contribution.source | capitalize | split: "_" | last }})</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
