<div class="row" id="footer">
         {% include nosidebar.html %}
	<div class="col-6 footer">
		<div>
			<a href="https://creativecommons.org/licenses/by/4.0/legalcode">
				<img src="{{ site.baseurl }}/assets/img/cc.svg" alt="Creative Commons License"/><img src="{{ site.baseurl }}/assets/img/by.svg" alt="Attribution 4.0 International"/>
			</a>
		</div>
		<div>
       2020 Wout Dillen. <a href="{{ site.baseurl }}/copyright.html">Read the Copyright Notice.</a> Website last updated on {{ site.time | date: "%d %B %Y"}}.
     </div>
	</div>
         {% include nosidebar.html %}
</div>
