<div class="row" id="footer">
         {% include nosidebar.html %}
	<div class="col-6 affiliations">
      <a href="https://www.uantwerpen.be/en/research-groups/centre-for-manuscript-genetics/">
				<img src="/assets/img/cmg.png" class="affiliation_logo" alt="Centre for Manuscript Genetics"/>
			</a>
      <a href="https://platformdh.uantwerpen.be/">
				<img src="/assets/img/platformdh.png" class="affiliation_logo" alt="UAntwerp Platform for Digital Humanities"/>
			</a>
      <a href="https://platformdh.uantwerpen.be/index.php/clariah-vl/">
				<img src="/assets/img/clariah.jpg" class="affiliation_logo" alt="CLARIAH Flanders"/>
			</a>
      <a href="https://www.textualscholarship.eu">
				<img src="/assets/img/ests.jpg" class="affiliation_logo" alt="European Society for Textual Scholarship"/>
			</a>
      <a href="https://erc.europa.eu/">
				<img src="/assets/img/eu.svg" class="affiliation_logo" alt="European Union"/>
        <img src="/assets/img/erc.png" class="affiliation_logo" alt="European Research Council"/>
			</a>
 </div>
     {% include nosidebar.html %}
     <div style="clear:left">
     {% include nosidebar.html %}
     </div>
  <div class="col-6 copyright">
  		<div>
  			<a href="https://creativecommons.org/licenses/by/4.0/legalcode">
  				<img src="/assets/img/cc.svg" class="copyright_logo" alt="Creative Commons License"/><img src="/assets/img/by.svg" class="copyright_logo" alt="Attribution 4.0 International"/>
  			</a>
  		</div>
  		<div>
         2020 Wout Dillen. <a href="/copyright.html">Read the Copyright Notice.</a> Website last updated on {{ site.time | date: "%d %B %Y"}}.
      </div>
    </div>
  <div id="navbarfiller"></div>
         {% include nosidebar.html %}
</div>
