<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">

  <script src="https://kit.fontawesome.com/4c962c6faa.js" crossorigin="anonymous"></script>
	{% seo %}
</head>
