{%- include variables/dogs.html -%}
<div class="col-3">

  {%- assign catcounter = page.categories | size -%}
  {%- if catcounter >= 1 -%}
  <div class="card">
    <div class="card-header">
      <strong>Categories:</strong>
    </div>
    <ul class="list-group list-group-flush">
      {%- for category in page.categories -%}
      <li class="list-group-item"><a href="{{site.baseurl}}/categories.html#{{ category | slugify }}">{{ category }}<a></li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}

  {%- assign tagcounter = page.tags | size -%}
  {%- if tagcounter >= 1 -%}
    <div class="card">
      <div class="card-header">
        <strong>Related Terms:</strong>
      </div>
        {%- for dog in dogs -%}
        {%- assign litter = site.lexicon | where: 'tags', dog -%}
          {%- if page.tags contains dog -%}
          <ul class="list-group list-group-flush">
            {%- for puppy in litter -%}
              <li class="list-group-item"><a href="{{ site.baseurl }}{{ puppy.url }}">{{ puppy.name }}</a></li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        {%- endfor -%}
    </div>
  {%- endif -%}
</div>
