@media only screen and (min-width: 768px) {
  /* For desktop: */
  [class*="col-"] {
  float: left;
  padding: 1vw;
}
	body {font-size:1.5vw}

	#header h1 {font-size: 8vw;}
  .header {
    background-color: white;
    color: black;
  }
	pre {font-size: 1.25vw;}
	code{font-size: 1.25vw;}
  footer{display: block;}
  .affiliations, .copyright {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 1vw;
  }
  .copyright {
    border-top: 1px solid black;
  }
  #Copyright {display: none}
  #subtitle {display: block}
	figure {font-size: 1vw;}
  img.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}
  img.affiliation_logo {
  height: 3.25vw;
  margin:.2vw;
  }
	.stickyscript {
		font-size: 1.25vw;
  		position: absolute;
  		right: 0;
  		width: 100%;
  		display: block;
  	/*	visibility: hidden; */
		}
	.stuck {
  		position:fixed;
  		top:0;
  	/*	visibility: visible; */
	}
	.float-left {
		float: left;
		padding: 0px 2vh 2vh 0px;
		max-width: 33%;
		}
	.float-right {
		float: right;
		margin: 0px 15px 15px 0px;
		max-width: 33%;
		}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}


#search-box {
	font-size: 1.5vw;
}
#sitenav {
  position: relative;
  border-top: 3px double black;
	border-bottom: 3px double black;
	padding: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
  height: auto;

}

.nav-item {
	padding: .5vw;
	margin: .5vw;
	text-align: center;
  font-size: 1.33vw;
}

.nav-item-text {
  display: inline;
}

#navbarfiller {
  display: none;
}

}
