* {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

body {
	background-color: #41B3A3xxx;
	padding: 1vw;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
	line-height: 1.25;
	font-size: 5vw;
	}

#header {
	hight: 50px;
	margin-bottom: 2em;
	text-align: center;
}

#header h1 {
	margin-block-end: 0em;
	font-size: 18vw;
}

.footer {
	border-top: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
}
.footer img {
	width: 4vw;
	margin:.15vw;
}

.definition {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: .25vh;
  padding-bottom: 1vh;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.reference {
  text-align: right;
  padding-bottom: .25vh;

}

.creditsbar {
  text-align: center;
  border: 1px solid #cccccc;
  background-color: #ededed;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1vh;
  padding: .25vh;
  font-family: monospace;
  font-size: small;
}



pre {
	background-color: rgba(71,178,163,0.25);
	border-radius: 5px;
	padding: 5px;

	/* vertical scrollbar if pre-div overflows */
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

code{
	font-size: 4vw;
	color: #c38d9e;
}

figure {
	max-width:100%;
	margin: 0;
	font-size: 3vw;
	text-align: center;
	color: #808080;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  [class*="col-"] {
  float: left;
  padding: 15px;
}
	body {font-size:1.5vw}
	#header h1 {font-size: 8vw;}
	pre {font-size: 1.25vw;}
	code{font-size: 1.25vw;}
	.footer {font-size: 1vw;}
	figure {font-size: 1vw;}
    .footer img {
		width: 1vw;
		margin:.15vw;
	}
	.stickyscript {
		font-size: 1.25vw;
  		position: absolute;
  		right: 0;
  		width: 100%;
  		display: block;
  	/*	visibility: hidden; */
		}
	.stuck {
  		position:fixed;
  		top:0;
  	/*	visibility: visible; */
	}
	.float-left {
		float: left;
		padding: 0px 2vh 2vh 0px;
		max-width: 33%;
		}
	.float-right {
		float: right;
		margin: 0px 15px 15px 0px;
		max-width: 33%;
		}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
  height: auto;
}

.current {
  	color: black;
	text-align: center;
}
nav {
	border-top: 3px double black;
	border-bottom: 3px double black;
	padding: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.nav-item {
	padding: 12px;
	margin: 5px;
	text-align: center;
}


a {
	text-decoration:  none;
	color: #E27D60;
}

a:hover {
	color: #c38d9e;
}



#content {
	padding: 5px;
	text-align: justify;
}


h2 {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid black;
}

h3 {
	color: #41B3A3;
}

strong {
	color: #41B3A3;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
