{%- assign contributors = site.contributors | map: "name" | uniq | sort_natural -%}

{%- assign contributors_linked = "" | split: "" -%}
{%- for contributor in site.contributors -%}
  {%- unless contributor.username == "Contribot" -%}
    {%- capture link -%}
    <a href="/{{contributor.path | remove_first: "_" | replace: ".md", ".html" }}">
    {%- endcapture -%}
    {%- assign contributors_linked = contributor.name | prepend: link
                                              | append: "</a>"
                                              | concat: contributors_linked -%}
  {%- endunless -%}
{%- endfor -%}
{%- assign contributors_linked = contributors_linked | uniq | sort_natural -%}
