<!-- array with all contributors -->
{%- assign contributors_linked = "" | split: "" -%}
{%- for contributor in site.contributors -%}
  {%- unless contributor.username == "Contribot" -%}
    {%- capture link -%}
    <a href="{{site.baseurl}}/contributors/{{contributor.username}}.html">
    {%- endcapture -%}
    {%- assign contributors_linked = contributor.name | prepend: link
                                              | append: "</a>"
                                              | concat: contributors_linked -%}
  {%- endunless -%}
{%- endfor -%}
{%- assign contributors_linked = contributors_linked | uniq | sort_natural -%}
