<!doctype html>
<html lang="en">
{% include meta.html %}
<body>
  {% include header.html %}
  {% include navigation.html %}
  <div class="row" id="content">
    {% include nosidebar.html %}
    <div class="col-6">
      <h1>{{ page.lemma }}</h1>

      <div class="definition">
        {{ page.content | markdownify }}
        <div class="reference">
          {% cite page.source %} p{{ page.page }}
        </div>
      </div>
      <div class="creditsbar">
        <p>
          <small>
            {% assign responsible = site.contributors | where: 'short_name', page.contributor | first %}
            Contributed by <a href="{{ site.baseurl }}{{ responsible.url }}">{{ page.contributor }}</a>.
            {% assign editor = site.contributors | where: 'short_name', page.last_updated_by | first%}
            Last updated on {{ page.last_modified_at | date: "%d %B %Y"}}
            by <a href="{{ site.baseurl }}{{ editor.url }}">{{ page.last_updated_by }}</a>.
          </small>
        </p>
      </div>

    </div>
    {% include nosidebar.html %}
  </div>
  <footer>
    {% include footer.html %}
  </footer>
  {% include scripts.html %}
</body>
</html>
