<html>
         {% include meta.html %}
         {% last_modified_at %}
  <body>
         {% include header.html %}
         {% include navigation.html %}
      <div class="row" id="content">
         {% include nosidebar.html %}
        <div class="col-6">
          <h1>{{ page.lemma }}</h1>

          <div class="definition">
          		{{ page.content | markdownify }}
              <div class="reference">
          		{% cite page.source %} p{{ page.page }}
              </div>
          </div>
            <div class="creditsbar">
              <p>
                <small>
          				{% assign responsible = site.contributors | where: 'short_name', definition.contributor | first %}
          				Contributed by <a href="{{ site.baseurl }}{{ responsible.url }}">{{ definition.contributor }}</a>.
          				{% assign editor = site.contributors | where: 'short_name', definition.last_updated_by | first%}
          				Last updated on {{ definition.last_modified_at | date: "%d %B %Y"}} by <a href="{{ site.baseurl }}{{ editor.url }}">{{ definition.last_updated_by }}</a>.
          			</small>
          		</p>
            </div>


      </div>
        {% include nosidebar.html %}
      </div>
      <footer>
        {% include footer.html %}
      </footer>
      </body>
      </html>
