<!doctype html>
<html lang="en">
{% include meta.html %}
<body>
  {% include header.html %}
  {% include navigation.html %}
  <div class="row" id="content">
    {% include nosidebar.html %}
    <div class="col-6">

      <h1>{{ page.name }}</h1>
      {% for definition in site.definitions %}
          {% if definition.lemma == page.name %}
              {% include definition.html %}
          {% endif %}
      {% endfor %}
    </div>
    {% include nosidebar.html %}
  </div>
  <footer>
    {% include footer.html %}
  </footer>
  {% include scripts.html %}
</body>
</html>
